html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#13635a, #71e8da);
  min-height: 100vh;
}

#navigation,
p,
ol {
  font-size: 20 px;
  color: #31635e;
  font-family: OCR A Std, monospace;
}

#header,
#header p {
  font-size: 20 px;
  color: #71e8da;
  font-family: OCR A Std, monospace;
}
